<h1>String Operations</h1>

<p><strong>Welcome!</strong> This notebook will teach you about the string operations in the Python Programming Language. By the end of this notebook, you'll know the basics string operations in Python, including indexing, escape sequences and operations.</p>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [2]:
# Use quotation marks for defining string

"Vihan Kumar"

'Vihan Kumar'

We can also use single quotation marks:

In [3]:
# Use single quotation marks for defining string

'Vihan Kumar'

'Vihan Kumar'

A string can be a combination of spaces and digits:

In [4]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [5]:
# Special characters in string

'$%^&%&$^&%#@'

'$%^&%&$^&%#@'

We can print our string using the print statement:

In [6]:
# Print the string

print("hello!")

hello!

We can bind or assign a string to another variable:

In [7]:
# Assign string to variable

Name = "Vihan Kumar"
Name

'Vihan Kumar'

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

 The first index can be accessed as follows:

In [8]:
# Print the first element in the string

print(Name[0])

V

 We can access index 6:

In [9]:
# Print the element on index 6 in the string

print(Name[6])

K

Moreover, we can access the 13th index:

In [11]:
# Print the element on the 13th index in the string

print(Name[8])

m

<h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [12]:
# Print the last element in the string

print(Name[-1])

r

 The first element can be obtained by  index -15:

In [14]:
# Print the first element in the string

print(Name[-5])

K

We can find the number of characters in a string by using <code>len</code>, short for length:

# Find the length of string

len("Michael Jackson")

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:
When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [15]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Viha'

In [16]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:12]

'mar'

<h3 id="stride">Stride</h3>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [17]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'VhnKmr'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [18]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Vhn'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [20]:
# Concatenate two strings

Statement = Name + " is the best"
Statement

'Vihan Kumar is the best'

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [21]:
# Print the string for 3 times

3 * " Vihan Kumar "

' Vihan Kumar  Vihan Kumar  Vihan Kumar '

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [22]:
# Concatenate strings

Name = "Vihan Kumar"
Name = Name + " is the best"
Name

'Vihan Kumar is the best'

<hr>

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [23]:
# New line escape sequence

print(" Vihan Kumar \n Is the best" )

 Vihan Kumar
 Is the best

Similarly, back slash  "t" represents a tab:

In [24]:
# Tab escape sequence

print(" Vihan Kumar \t is the best" )

 Vihan Kumar 	 is the best

 If you want to place a back slash in your string, use a double back slash:

In [25]:
# Include back slash in string

print(" Vihan Kumar \\ is the best" )

 Vihan Kumar \ is the best

 We can also place an "r" before the string to display the backslash:

In [26]:
# r will tell python that string will be display as raw string

print(r" Vihan Kumar \ is the best" )

 Vihan Kumar \ is the best

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [27]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [28]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Vihan Kumar is the best"
B = A.replace('Vihan', 'Vikrant')
B

'Vikrant Kumar is the best'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

In [30]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Vihan Kumar"
Name.find('el')

-1

In [31]:
# Find the substring in the string.

Name.find('Vihan')

0

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [32]:
# If cannot find the substring in the string -- it returns '-1'

Name.find('Jasdfasdasdf')

-1

<hr>